streamlit==1.31.1
validators==0.22.0
python-dotenv==1.0.1

langchain==0.1.20
langchain-community==0.0.38
langchain-groq==0.1.5

yt-dlp>=2024.1.14

requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0
tqdm==4.66.1

pypdf==4.0.2
python-magic-bin==0.4.14; platform_system=="Windows"
